In [1]:
print("Hello World")

Hello World

In [2]:
print ("testq")

testq

In [5]:
print ("Hello, pythonn!")
print ("Abu")
print ("Abu")

Hello, pythonn!
Abu
Abu

In [9]:
print ()
print ("Saya sudah sarapan tadi pagi\n dan nanti siang makan lagi")

print ("Saya sudah sarapan tadi pagi\t dan nanti siang makan lagi")

Saya sudah sarapan tadi pagi
 dan nanti siang makan lagi
Saya sudah sarapan tadi pagi	 dan nanti siang makan lagi

In [12]:
print ("Nama saya \"Daniel \"")

Nama saya "Daniel "

In [13]:
print ("\"")

"

In [14]:
print ("Nama saya", "Daniel", end=" ")

Nama saya Daniel

In [15]:
print (" Programming","Essentials","in", sep="***", end="...")

 Programming***Essentials***in...

In [16]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****\n"*2)

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****
    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

In [17]:
print ("I'm Monty Python")

I'm Monty Python

In [19]:
print (True)
print (False)

print (4>2)
print (3>4)

True
False
True
False

In [20]:
print('"I\'m"\n""learning""\n"""Python"""')

print("""
"I'm"
""learning""
\"""Python""\"
""")

"I'm"
""learning""
"""Python"""

"I'm"
""learning""
"""Python"""

In [21]:
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3.)
print(2. ** 3)

8
8.0
8.0
8.0

In [22]:
Darjo = 2
Darno = 5
Waginem = 6

In [23]:
kilometer = 12.25
mil = 7.38

miles_to_kilometers = mil * 1.61
kilometers_to_miles = kilometer / 1.61

print(mil, "1 mil adalah", round(miles_to_kilometers, 2), "kilometer")
print(kilometer, "1 kilometer adalah", round(kilometers_to_miles, 2), "mil")

7.38 1 mil adalah 11.88 kilometer
12.25 1 kilometer adalah 7.61 mil

In [29]:
kg = 1
gram = 1 

kg_to_gram = kg * 1000
gram_to_kg = gram / 1000

print("1 kg adalah ", round(kg_to_gram,2),"gram")
print("1 gram adalah ", round(gram_to_kg,4),"kilogram")

1 kg adalah  1000 gram
1 gram adalah  0.001 kilogram